/* Google fonts add */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap");
/* utilities styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  color: #0a0826;
}
.specail-check-color {
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  background-color: #5243c21a;
}
.check-color {
  color: #5243c2;
  padding: 5px;
  border-radius: 50%;
  background-color: #5243c21a;
}
.banner {
  padding-top: 68px;
}
.link-btn {
  text-decoration: none;
  padding: 10px 30px;
}
.bg-color {
  background-color: #f496d1;
}
